:root {
  --color-dark-0: #051F20;
  --color-dark-1: #0B2B26;
  --color-medium-0: #163832;
  --color-medium-1: #235347;
  --color-light-0: #8EB69B;
  --color-light-1: #DAF1DE;
  --dark: #333;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--color-dark-1);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--color-dark-0); 
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-medium-1);
    border-bottom: solid 3px var(--color-medium-0);
    margin-bottom: 1rem;
    height: auto;
}


header ul{
    display: grid;
    grid-auto-flow: column;  
    justify-content: space-around;       
    list-style: none;
    height: 100%;
}

header nav ul li a{
    text-decoration: none;
    color: var(--color-light-1);
    font-size: 1.2rem;
    transition: color 0.3s;
    margin: 0;
    padding: 25px 50px;  
}

header a:hover {
    color: var(--color-light-0);
    background-color: var(--color-medium-0);
}

header img {
    width: 120px;
    height: auto;
    margin: 0;
    align-self: stretch;
}

/*header {
    display: flex;
    border-bottom: solid 3px var(--color-medium-0);
    margin-bottom: 1rem;
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
    height: 4rem;
}

header img{
    width: auto;
    height: auto;
}

header nav {
    display: flex;
    width: 100%;
    
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

header nav ul li{
    text-decoration: none;
    list-style-type: none;

}

header nav ul li a{
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-light-1);
}*/

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    border: solid 3px var(--color-medium-0);
    width: 100% ;
    margin: 1rem 0;
    align-items: start;
}

.history h2 {   
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 0.2rem;
    padding: 0;
    font-size: 2rem;
}

.history img {  
    grid-column: 2/3;
    grid-row: 2/2;
    text-align: end;
    padding: 0rem 1rem;
    width: 100%;
    height: 100%;
    max-width: 20rem;

}

.history p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
}

.adventure h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    align-items: center;
    justify-self: center;
    margin: 1rem;
}

.adventure figure {
    margin: 1rem;
    text-align: center;

}

.adventure figcaption {
    margin-top: 1rem;
    font-style: italic;
}

.adventure img {
    width: 100%;
    height: auto;
}

/*
.adventure {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

.adventure h2 {
    text-align: center;
    margin: 1rem;
}

.adventures figure {
    margin: 0;
    text-align: center;
    flex: 1;
}

.adventures-container img {
    width: 100%;                   
    height: auto;                  
}

.adventures figcaption {
  margin-top: 10px;
  font-style: italic;
}

*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--color-medium-0);
}

footer p {
    margin-left: 25%;
    justify-self: center;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.71;
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
}

.hero article { 
    background-color: var(--color-light-0);
    display: flow-root;
    position: absolute;
    top: 270px;
}

.hero article img{
    float: right;
    width: 100px;
    height: auto;
    border: solid 3px var(--color-medium-0);
    box-shadow: 0 0 30px  var(--dark);
    margin-left: 20px;
}