:root {
  --color-dark-0: #051F20;
  --color-dark-1: #0B2B26;
  --color-medium-0: #163832;
  --color-medium-1: #235347;
  --color-light-0: #8EB69B;
  --color-light-1: #DAF1DE;
  --dark: #333;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home Page*/

.hero-home h1 {
    position: absolute;
    top: 175px;
    width: 100%;
    padding: 30px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--color-medium-0);
    color: var(--color-light-1);   
}

.hero-home img{
    border-radius: 0.2rem;
}

.more-content {
    background-color: var(--color-dark-0);
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
}

.more-content .trips-compels {
    background-color: var(--color-medium-0);
    color: var(--color-light-0);
    grid-column: 1/2;
    width: 500px;
    height: 500px;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.trips-compels a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--color-light-0);
    font-weight: bold;
    transition: 0.3s;
}

.trips-compels a:hover {
    color: var(--color-dark-0);
}

.more-content .form-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    height: 250px;
    margin: 1rem 1rem ;
    border-radius: 0.2rem;
    color: var(--color-light-0);
    border: solid 4px var(--color-medium-0);
    font-weight: bold;
}

.form-container legend {
    margin: 0.5rem auto;
    
}

.section-borderless {
    align-items: center;
    justify-items: center;
    width: 100%;
}

.imgs-box {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  align-items: center;
  margin: 10px auto;
  max-width: 1000px;
  background-color: var(--color-dark-0);
  border-radius: 0.2rem;
}

.grid-img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
}

.grid-text  {
    padding: 2rem;
    height: 100%;
    background-color: var(--color-medium-1);
    border-radius: 0.2rem;
    font-size: large;
    align-items: center;
    justify-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--color-dark-1);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--color-dark-0); 
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
    border-bottom: solid 3px var(--color-medium-0);
    margin-bottom: 1rem;
    height: auto;
}


header ul{
    display: grid; 
    grid-auto-flow: column;
    justify-content: space-around;  
    list-style: none;
    height: 100%;
}

header nav ul li a{
    text-decoration: none;
    color: var(--color-light-1);
    font-size: 1.2rem;
    margin: 0;
    padding: 25px 50px; 
    transition: color 0.3s; 
}

header a:hover {
    color: var(--color-light-0);
    background-color: var(--color-medium-0);
}

header img {
    width: 120px;
    height: auto;
    margin: 0;
    align-self: stretch;
}

/*About us*/

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    border: solid 3px var(--color-medium-0);
    width: 100% ;
    margin: 1rem 0;
    align-items: start;
}

.history h2 {   
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 0.2rem;
    padding: 0;
    font-size: 2rem;
}

.history img {  
    grid-column: 2/3;
    grid-row: 2/2;
    text-align: end;
    padding: 0rem 1rem;
    width: 100%;
    height: 100%;
    max-width: 20rem;

}

.history p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
}

.adventure h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    align-items: center;
    justify-self: center;
    margin: 1rem;
}

.adventure figure {
    margin: 1rem;
    text-align: center;

}

.adventure figcaption {
    margin-top: 1rem;
    font-style: italic;
}

.adventure img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--color-medium-0);
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
}

footer p {
    margin-left: 25%;
    justify-self: center;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero, .hero-home {
    position: relative;
}

.hero img, .hero-home img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.71;
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
}

.hero article { 
    background-color: var(--color-light-0);
    display: flow-root;
    position: absolute;
    top: 270px;
}

.hero article img{
    float: right;
    width: 100px;
    height: auto;
    border: solid 3px var(--color-medium-0);
    box-shadow: 0 0 30px  var(--dark);
    margin-left: 20px;
}

/*Trips Page*/



#trips-main h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--color-dark-0);   
}

.cta-banner {
  background-color: var(--color-medium-1);
  color: var(--color-light-1);
  padding: 40px;
  margin: 0;
  text-align: center;
  width: 100%;
  border: 5px solid var(--color-dark-1);
  border-radius: 0.2rem;
}

.cta-button {
  display: inline-block;
  background-color: var(--color-light-0); /* Contrast color */
  color: var(--color-dark-0);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: var(--color-dark-0);
  color: white;
}


.trips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.trip-card {
  background-color: var(--color-light-1);
  border: 1px solid var(--color-medium-0);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.trip-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
}


.trips-table-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.trips-table-container h2 {
    margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 15px;
  border: 1px solid var(--color-medium-0);
  text-align: left;
}

th {
  background-color: var(--color-dark-1);
  color: var(--color-light-1);
}

tr:nth-child(even) {
  background-color: var(--color-light-1);
}


/*Contact Page*/

.main-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

#emploies {
    border: solid 3px var(--color-medium-0);
    margin-bottom: 1rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
    grid-row: 3/4;
    align-items: center;
}

#emploies img {
    width: 100px;
}

#emploies h2 {
    margin: 0.5rem;
}

.company {
    justify-items: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.company p {
    padding: 0;
    margin: 0.2rem;
    font-weight: bold;
}

iframe {
    align-items: center;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
}

.form-container {
    border: solid 3px var(--color-medium-0);
    padding: 0.5rem;
}

.form-group {
    flex-direction: column; 
    align-items: flex-start;
    padding: 0.4rem;
}

.form-container fieldset {
    border: none;         
    margin: 0;
    padding: 0;
    margin-bottom: 15px; 
}

.form-container .form-group label {
    font-weight: normal;
    min-width: 100px;
}

.form-container .form-group input {
    border-radius: 0.2rem;
    border: 1px solid var(--color-dark-1);
    padding: 0.2rem;
}

.form-container textarea {
    width: 100%;
    margin-top: 5px;
}

.form-container button {
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--color-medium-1);
    color: var(--color-light-1);
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    color: var(--color-light-0);
    background-color: var(--color-medium-0);
}



