:root {
    --primary-color: rgb(0, 0, 139);
    --shadow-color: #333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    align-items: center;

}

nav {
    background-color:  var(--primary-color);
    padding: 10px;
    flex-grow: 1;
    /*justify-content: flex-start;*/    
}

nav a {
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    /*display: inline-block;*/
}

main {
    max-width: 840px;   
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li {
    margin-left: 1rem;
    padding: 5px;
}

h1 {
    color: var(--primary-color);
    padding: 1rem;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 1rem/*0px*/;

}   

aside {
    text-align: center;
    width: 19rem;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 7%;
    left: 50%;
    translate: -50%     -50%;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
}