:root {
    --primary-color: rgb(0, 0, 139);
    --shadow-color: #333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    align-items: center;
    margin: 0 auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem;
}

nav {
    background-color:  var(--primary-color);
    padding: 10px;
    flex-grow: 1;
    /*justify-content: flex-start;*/    
}

nav a {
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    /*display: inline-block;*/
}

.grid {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;  
}

main {  
    padding: 10px;
    margin: 1rem;
    background-color: rgba(144, 144, 144, 0.5);
    grid-column: 2/3;
    
}

aside {
    text-align: center;
    width: 17rem;
    height: auto;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/-1;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li {
    margin-left: 1rem;
    padding: 5px;
}

h1 {
    color: var(--primary-color);
    padding: 1rem;
    border-bottom: solid var(--primary-color);
    font-size: 1.8rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 1rem/*0px*/;

}   



aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 7%;
    left: 50%;
    translate: -50%     -50%;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
}