:root {
    --primary-color: rgb(0, 0, 139);
    --shadow-color: #333;

}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px var(--shadow-color);
}

nav {
    background-color:  var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0px;
}

aside {
    text-align: center;
    width: 19rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}